@import "../../node_modules/bulma/bulma.sass";

// .control.is-fullwidth {
//     display: flex;
  
//     .dropdown-item{
//       width: 100%;
//     }
//   }

// On utilise ca pour le Create.vue
.fullwidth {
    .select, select{
      width: 100%;
    }
}

.input-start::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: hsl(217, 71%, 53%);
  opacity: 0.75; /* Firefox */
}

.input-bad::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:hsl(348, 100%, 61%);
  opacity: 0.75; /* Firefox */
}
